.xy-wf-approve
{
	background-image: url(../images/xy-wf-approve.gif) !important;
}
.xy-wf-transwith
{
	background-image: url(../images/xy-wf-transwith.gif) !important;
}
.xy-wf-transmit
{
	background-image: url(../images/xy-wf-transmit.gif) !important;
}
.xy-wf-history
{
	background-image: url(../images/xy-wf-history.gif) !important;
}
.xy_wf_transimg
{
	background-image: url(../images/xy_wf_transimg.gif) !important;
}
.xy_wf_undo
{
	background-image: url(../images/xy_wf_undo.gif) !important;
}
.xy-wf-sendmail
{
	background-image: url(../images/xy-wf-sendmail.gif) !important;
}
.xy-wf-viewform
{
	background-image: url(../images/xy-wf-viewform.gif) !important;
}
