<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- workflow工作流配置入口 -->

	<!-- 初始化WorkflowBeanCofnig -->
	<bean class="com.newtouch.workflow.app.common.WfBeanConfigFactory">
		<!-- 使用newtouch-workflow-core.jar组件内置默认配置 -->
		<property name="propertyFile" value="classpath*:WfBeanFactory.properties" />
	</bean>

	<!-- 默认报账单编号实现类 -->
	<bean class="com.newtouch.workflow.app.bp.DefaultFormSerialNoBP" />

	<!-- 初始化报账单实体类 -->

	<!-- 初始化xxx -->

	<!-- 初始化xxx -->
</beans>